@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

    color: white;
}

body {
    background: linear-gradient(-45deg, #170920, #170920, #7209B7, #7209B7);
    /* 
       thing
       black 
       green 
       red */
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
	
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

hr {
    height: 2px;
    width: 50%;
    border: none;
    background-color: white;
    border-radius: 50%;
    margin: 0 auto;
}

.topbar #menu-icon {
    color: #343a40;
    font-weight: 320;

    font-size: 2.5em;
    margin: 12px;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 999;
    
    transition: 0.6s;
}

.sideNav #close-icon {
    position: fixed;
    display: flex;
    z-index: 999;
    
    transition: 0.6s;
    opacity: 0;
}

.sideNav {
   height: 100%;
   width: 0;
   position: fixed;
   z-index: 1;
   top: 0;
   left: 0;
   background-color: #170920;
   overflow-x: hidden;
   padding-top: 60px;
   transition: 0.5s;
}
.sideNav a {
   text-decoration: none;
   color: #fff;
   display: block;
   transition: 0.3s;
   margin-top: -55px;
   padding: 10px;
}

.main {
  opacity: 0;
}

.main.active {
  animation: nomilke 1s;
}

@keyframes nomilke {
  from { opacity: 0 }
  to { opacity: 1 }
}


.main .intro {
    width: 100%;
    min-height: 100vh;
    align-items: center;
    text-align: center;
    
    margin-top: 100px;
    transition: 0.6s;
}

.main .intro h2 {
    color: white;
    font-size: 2.2em;
    font-weight: 625;

    white-space: nowrap;
    
    /* don't change this */
    position: relative;
    z-index: 1;
    /* ^ to override the blur */
}
/*
.main .intro h2 span {
    color: white;
    font-size: 5em;
    font-weight: 700;

    display: flex;
   
    margin-top: -100px;
    
    margin-left: 7px;
    text-align: center;
    opacity: 0.7;
    font-style: italic;

    text-shadow: 0 0 10px rgb(63, 0, 100);
}
*/
  
.main .intro h3 {
    color: white;
    font-size: 1em;
    font-weight: 550;

    white-space: nowrap;
    
    opacity: 0.8;
    position: relative;
    z-index: 1;
}

.main .intro h3::after {
    content: '|';
    margin-left: 5px;
    animation: blink 0.7s infinite;
}

@keyframes blink{
50%{opacity: 0;}
100%{opacity: 1;}
}

.main .intro #ferest-logo {
  /* 
  width is 20% for mobile
  and 12% for pc **see main.js**
  */
    padding: 3px;
    display: center;
    align-items: center;
    border: 3px solid purple;
    border-radius: 10px;
    opacity: 1;
    margin: 0 auto;
    font-weight: 400px;
  
    background: transparent;
    position: relative;
    z-index: 1;
    transition: background 0.4s, padding 0.4s, font-size 0.4s;
}

.main .intro #ferest-logo:hover{
  background: purple;
  padding: 5px;
  font-size: 17px;
 }

.main .intro #fz-preview {
    height: 675px;
    background: url("https://media.discordapp.net/attachments/983502610294251543/984016384084283392/logo_with_text.png") no-repeat;
    background-size: 50%;
    
    background-position: center;
    background-position: top;
}


.main .intro #fz-preview::after {
  -webkit-backdrop-filter: blur(5px); /* Use for Safari 9+, Edge 17+ (not a mistake) and iOS Safari 9.2+ */
  backdrop-filter: blur(5px); /* Supported in Chrome 76 */

  content: "";
  display: block;
  position: absolute;
  width: 100%; height: 100%;
  top: 0;
}

.main .intro #fz-preview {
  position: relative;
}

.container {
  display: inline-block;
  position: relative;
  z-index: 1;
  color: white;
  font-weight: 550;
    
  width: 90%;
  
}
.typed-out {
  
  animation: typing 1.6s steps(600, end) forwards;
  font-size: 1rem;
  width: 100%;
  
  opacity: 0;
}
@keyframes typing {
  from { opacity: 0 }
  to { opacity: 1 }
}

.box {
    background: #121212;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
    width: 300px;
    /* align text to left */
    text-align: left;
    
    position: relative;
    z-index: 1;
}



/* cancelled thing */
.main-cancelled {
  height: 100%;
  width: 100%;
  
  background-color: #212121;
  margin: 0 auto;
  visibility: none;
  position: fixed;
  z-index: 1;
  overflow: hidden;
}

.main-cancelled .intro {
    width: 100%;
    min-height: 100vh;
    align-items: center;
    text-align: center;
    
    transition: 0.6s;
}

.main-cancelled .intro h2 {
    color: white;
    font-size: 2.2em;
    font-weight: 625;

    white-space: nowrap;
    
    /* don't change this */
    position: relative;
    z-index: 1;
    /* ^ to override the blur */
}
/*
.main-cancelled .intro h2 span {
    color: white;
    font-size: 5em;
    font-weight: 700;

    display: flex;
   
    margin-top: -100px;
    
    margin-left: 7px;
    text-align: center;
    opacity: 0.7;
    font-style: italic;

    text-shadow: 0 0 10px rgb(63, 0, 100);
}
*/
  
.main-cancelled .intro h3 {
    color: white;
    font-size: 1em;
    font-weight: 550;

    white-space: nowrap;
    
    opacity: 0.8;
    position: relative;
    z-index: 1;
}

.main-cancelled .intro h3::after {
    content: '|';
    margin-left: 5px;
    animation: blink 0.7s infinite;
}

@keyframes blink{
50%{opacity: 0;}
100%{opacity: 1;}
}

.main-cancelled .intro #ferest-logo {
  /* 
  width is 20% for mobile
  and 12% for pc **see main-cancelled.js**
  */
    width: 25%;
    height: 12%;
    display: flex;
    align-items: center;

    opacity: 0.5;
    margin: 0 auto;
    
    position: relative;
    z-index: 1;
}

.main #intro-2 {
  opacity: 0;
}

.main #intro-2.active {
  animation: dad 5s;
}

@keyframes dad {
  from { opacity: 0 }
  to { opacity: 1 }
}

.loader {
  width: 100%;
  height: 100vh;
  align-items: center;
  display: flex;
  position: relative;
  background: #212121;
  align-items: center;
}

.loader-circle {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #7209B7; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 0.3s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader.active {
  animation: whoasked 1s;
}

@keyframes whoasked {
  from { opacity: 1 }
  to { opacity: 0 }
}
#dc-btn{
 font-weight: bold;
 font-size: 10px;
}
#frame{
 border: 2px solid rebeccapurple;
 border-radius: 13px;
}
